@model BooksManagementSystem.Models.BorrowingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Borrow book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control" asp-items="@(IEnumerable<SelectListItem>)@ViewData["Books"]" id="Books"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="@(IEnumerable<SelectListItem>)@ViewData["Users"]" id="Users"></select>
            </div>
            <div class="form-group">
                <label asp-for="BorrowedDate" class="control-label"></label>
                <input asp-for="BorrowedDate" class="form-control" />
                <span asp-validation-for="BorrowedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnedDate" class="control-label"></label>
                <input asp-for="ReturnedDate" class="form-control" />
                <span asp-validation-for="ReturnedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

